{% extends 'base.html' %}
<h1>This is a Login Page</h1>

{% block content %}

<div class="p-3">
  <div class="container appointment-page shadow p-4 rounded-3">
    <div class="text text-center py-3">
        <h2>Create your patient account</h2>
        <p>Sign up to book appointments, view your upcoming visits, and access hospital updates.</p>
      </div>
      <form action="" method="post">
          {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" required aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Firstname</label>
          <input type="text" class="form-control" name="firstname" required aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Lastname</label>
          <input type="text" class="form-control" name="lastname" required aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" required aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" required class="form-control" name="password">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
          <input type="password" required class="form-control" name="password2">
        </div>
        {% if messages %}
        {% for message in messages %}
             <p class="text-danger text-left">
                {{ message }}
             </p>
        {% endfor %}
        {% endif %}
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
  </div>
  <div>
    <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Log In</a></p>
  </div>
</div>
{% endblock %}